/**************GENERAL CSS FOR LAYOUT******************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline-style: none;
  box-shadow: 0 0 0 3px #c2a5f9cc;
}
button:focus {
  box-shadow: none;
}
html {
  font-size: 62.5%;
  font-family: "Open-sans", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
}

.welcome {
  display: grid;
  grid-template-columns: 92.3fr 99.7fr;
  width: 100%;
  height: 100%;
}
.section1 {
  font-weight: 600;
  font-family: "Nunito";
}
.photo1 {
  display: grid;
  grid-template-rows: 8.4rem 1fr;
}
.logo {
  height: 2.33rem;
  width: 25.3rem;
}
.img1 {
  background-image: url("photos/pic-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.svg1 {
  margin-bottom: 0.5rem;
}
.forLogo {
  background-color: #7025fb;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5.4rem;
  gap: 0.8rem;
}

.content1 {
  background-color: #fd5334;
  padding-top: 26.5rem;
  padding-left: 8.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.flexForTexts {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.4rem;
}
.gridForTexts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 8rem;
  margin-left: 1.2rem;
}
.bigP {
  font-size: 8rem;
  color: #fff;
  line-height: 11rem;
  font-weight: 900;
}
.bigP2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.smallP {
  font-size: 2rem;
  color: #212529;
  line-height: 2.7rem;
  font-weight: 700;
}

/**********BUTTON************/

.getStarted {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  font-size: 2rem;
  font-family: "Open Sans";
  font-weight: 400;
  padding: 1.2rem 2.4rem;
}
.start {
  background: none;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  background-color: #212529;
  margin: 1.2rem 2.4rem;
  position: relative;
  transition: border-color 0.18s ease-in;
  border: 4px solid #fd5334;
}

.getStarted:link,
.getStarted:visited {
  text-decoration: none;
  color: white;
  border-radius: 8px;
}
.start:hover {
  cursor: pointer;
  margin: 1.2rem 2.4rem;
  border: 4px solid #c2a5f9cc;
}

@media (max-width: 105em) {
  .content1 {
    padding-left: 1rem;
  }
  body {
    width: 100vw;
  }
}
@media (max-width: 93em) {
  html {
    font-size: 60%;
  }
  .flexForTexts {
    gap: 1.6rem;
  }
  .section1 {
    grid-template-columns: 7fr 9fr;
  }
}
@media (max-width: 81.25em) {
  html {
    font-size: 56%;
  }
}
@media (max-width: 75em) {
  .section1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .content1 {
    background-color: #fd5234ab;
    height: 50%;
    position: absolute;
    width: 100%;
    height: auto;
    top: 8.4rem;
    padding-top: 8rem;
    padding-left: 8rem;
  }
  .start {
    border: 4px solid #fd5234ab;
  }
}
@media (max-width: 48.5rem) {
  .start {
    transform: scale(1.3);
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-20%, -139%);
    border: 4px solid #7025fb;
  }
}

@media (max-width: 45em) {
  .content1 {
    padding: 2rem 2rem;
  }
  .gridForTexts {
    margin-bottom: 2rem;
    gap: 0;
  }
  .bigP {
    font-size: 6.8rem;
  }
}
@media (max-width: 36.5em) {
  .content1 {
    padding: 2rem 2rem;
  }
  .gridForTexts {
    margin-bottom: 2rem;
    gap: 0;
  }
  .bigP {
    font-size: 6.8rem;
  }
  .smallP {
    position: absolute;
    transform: translate(10%, 187%);
  }
  .photo1 {
    grid-template-rows: 14.8rem 1fr;
  }
  .content1 {
    top: 14.8rem;
    padding-top: 6rem;
  }
  .forLogo {
    align-items: flex-start;
    padding: 0;
    padding-top: 3rem;
    padding-left: 3rem;
  }
  .start {
    transform: translate(3%, 108%);
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
  }
}
@media (max-width: 36em) {
  .start {
    width: 50%;
  }
  .content1 {
    padding-top: 2.4rem;
  }
  .bigP {
    font-size: 6.2rem;
  }
  .smallP {
    transform: translate(10%, 196%);
  }
}
@media (max-width: 28.5em) {
  .start {
    width: 55%;
  }
  .bigP {
    font-size: 5.6rem;
  }
  .smallP {
    transform: translate(10%, 200%);
  }
  .content1 {
    padding-left: 0.8rem;
  }
}
@media (max-width: 25.5em) {
  .start {
    width: 60%;
  }
  .bigP {
    font-size: 5.2rem;
  }
  .smallP {
    transform: translate(10%, 207%);
  }
  .content1 {
    padding-left: 0;
  }
}
@media (max-width: 23em) {
  .start {
    width: 70%;
  }
  .bigP {
    font-size: 4.2rem;
  }
  .smallP {
    font-size: 1.8rem;
  }
  .smallP {
    transform: translate(10%, 212%);
  }
  .content1 {
    padding-left: 0;
  }
}
@media (max-width: 19.3em) {
  html {
    font-size: 45%;
  }
  .start {
    transform: translate(3%, 84%);
  }
}
